.pokemon-name{
    font-size: xx-large;
    color: black;
    margin-top: 1rem;
}
.pokemon-name>span{
    letter-spacing: 1rem;
}
.pokemon-types{
    display: flex;
    margin-top: 2rem;
    gap: 3rem;
    font: larger;
}
.pokemon-types>div{
    border: 1px solid gray;
    border-radius: 15px;
    padding: 1rem;
    background-color: rgb(218, 175, 238);
}

.pokemon-image{
    max-height: 200px;
    margin-top: 2rem;
}
.pokemonDetails-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}